.logo {
  text-align: center;
  padding-top: 35%;
}

.logo image {
  width: 150px;
  height: 150px;
}

.index {
  text-align: center;
}

.index text{
  color: #ccc;
  font-size: 1.8rem;
  font-family: "LingWai TC";
}
